div.faq-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
}

div.faq-list h2 {
  width: fit-content;
  font-size: var(--lz-font-size-h2);
  font-weight: var(--lz-font-weight-bold);
  color: var(--lz-text-primary);
  margin-bottom: var(--lz-spacing-lg);
}

div.faq-list div.questions {
  margin: 20px 120px 70px 120px;
  max-width: 1068px;
}

div.faq-list div.questions .accordion-title {
  font-weight: 500;
}


div.faq-list div.questions .accordion-details {
  color: #1a1a1a !important;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  padding: 16px 0;
  background-color: #ffffff !important;
}

/* 确保AccordionDetails内的文字可见 */
div.faq-list div.questions .MuiAccordionDetails-root {
  color: #1a1a1a !important;
  background-color: #ffffff !important;
}

@media only screen and (width <=960px) {
  div.faq-list div.questions {
    margin: 20px 0 70px 0;
  }
}
