div.tos {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  transform: translate3d(0, 0, 0);
  white-space: pre-wrap;
  padding: 130px 20% 50px 20%;
  font-size: 15px;
  color: var(--lz-text-primary);
  min-height: 100vh;
}

div.tos h1 {
  color: var(--lz-text-primary);
  margin-bottom: 30px;
}

div.tos p {
  color: var(--lz-text-secondary);
  line-height: 1.8;
}

@media only screen and (width <=960px) {
  div.tos {
    padding: 110px 20px 30px 20px;
  }
}
